body {
    background-color: #f2f2f2;
}

.nav {
    background-color: #466f67;
}

.nav a {
    color: #f2f2f2;
    padding: 40px 25px;
    font-size: 20px;
}
.nav a:hover {
    color: #243631;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #466f67;
    padding: 35px 0;
}

.searchbar {
    display: flex;
    margin-bottom: 30px;
    margin-top: 30px;
}

.searchbar input[type=text] {
    flex: 1;
    padding: 10px;
    border: 1px solid #ced4da;
    border-radius: 0.25rem 0 0 0.25rem;
    font-size: 16px;
}

.searchbar button[type=submit] {
    padding: 10px 20px;
    border: 1px solid #ced4da;
    border-radius: 0 0.25rem 0.25rem 0;
    background-color: #243631;
    color: #f2f2f2;
    font-size: 16px;
}

.searchbar button[type=submit]:hover {
    background-color: #466f67;
}

#submitButton {
    font-size: 24px;
    width: 250px;
    top:77%;
    left:75%;
    height:55px;
    position: fixed;
}

