body {
    background-color: #f2f2f2;
    background-image: linear-gradient(to bottom,rgba(255, 255, 255, 0.9) 0%,
    rgba(255, 255, 255, 0.7) 50%, rgba(0, 0, 0, 0.7) 100%), url('../images/background.jpg');
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    padding: 0;
}

.nav {
    background-color: #466f67;
    height: 70px;
}

.nav a {
    color: #f2f2f2;
    padding: 15px 25px;
    font-size: 20px;
}
.nav a:hover {
    color: #243631;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: #466f67;
    padding: 20px 10px;
}

#submitButton {
    font-size: 24px;
    width: 250px;
    top:77%;
    left:75%;
    height:55px;
    position: relative;
}
.searchbar {
    position: absolute;
    top: 30px;
    left: 40px;
}

.searchbar input[type=text] {
    flex: 1;
    width: 350px;
    padding: 10px;
    border: 1px solid #ced4da;
    border-radius: 0.25rem 0 0 0.25rem;
    font-size: 16px;
}

.searchbar button[type=submit] {
    padding: 10px 20px;
    border: 1px solid #ced4da;
    border-radius: 0 0.25rem 0.25rem 0;
    background-color: #243631;
    color: #f2f2f2;
    font-size: 16px;
}

.searchbar button[type=submit]:hover {
    background-color: #466f67;
}

/* logo header classes  */
.logo {
    position: relative;
    text-align: center;
    background-color: white;
}

.logo img {
    width: 250px;
    height: auto;
}

    .login-logout-links {
        position: absolute;
        top: 0;
        right: 0;
        margin-top: 20px;
        margin-right: 20px;
    }

    .login-logout-links ul {
        list-style-type: none;
        padding: 0;
    }

    .login-logout-links ul li {
        display: inline-block;
        margin-right: 10px;
    }

    .login-logout-links ul li:last-child {
        margin-right: 0;
    }

/* ---------------  */
.table-container {
    margin-top: 20px;
}
.table th {
    background-color: #f2f2f2;
}
.table td {
    background-color: #f2f2f2;
}

/*recipeDetail*/

.title-details {
    font-size: 40px;
    margin-bottom: 20px;
    display: flex;
}

.top-details {
    display: flex;
    font-size: 20px;
    color: #243631;
}

.top-details p {
    margin-right: 20px;
}

.tags {
    padding: 5px 10px;
    background-color: #659d94;
    color: #f2f2f2;
    border: 1px solid #487566;
    border-radius: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
}

.directions-ingredients-container {
    display: flex;
    margin-top: 20px;
}

.ingredient-container .directions-container {
    flex: 1;
    margin-right: 100px;
}

.ingredient-container {
    margin-right: 100px;
}

.ingredient-table {
    background-color: #cdd9d3;
    border-collapse: separate;
    border-spacing: 0;
    border: 2px solid #f2f2f2;
    border-radius: 10px;
    margin-top: 20px;
}

.ingredient-table th {
    font-size: 20px;
    font-weight: normal;

}

.ingredient-table th, .ingredient-table td {
    padding: 10px;
    line-height: 0.8;
}

.directions-wrapper {
    text-align: left;
    border-collapse: separate;
    border-spacing: 20px;
    border: 2px solid #659d94;
    border-radius: 20px;
    margin-top: 20px;
    padding: 30px;
    line-height: 3;
}
.directions-wrapper h3 {
    font-size: 20px;
}


.nutrition-table {
    width: 20%;
}

.nutrition-table th,
.nutrition-table td {
    padding: 8px;
    text-align: left;
}

.nutrition-table td:first-child {
    border-top: 1px solid #ddd; /* Add border between "Calories" and "Fat" */
}

.nutrition-table td:last-child {
    border-bottom: 1px solid #ddd; /* Add border after "Protein" */
}

.container {
    background-color: #f2f2f2;
    padding: 20px;
    overflow: auto;
    border-radius: 8px;
    margin-bottom: 120px;
}
