body {
    background-color: #f2f2f2;
}

.nav {
    background-color: #466f67;
}

.nav a {
    color: #f2f2f2;
    padding: 40px 25px;
    font-size: 20px;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #466f67;
    padding: 35px 0;
}

#submitButton {
    font-size: 24px;
    width: 250px;
    top:77%;
    left:75%;
    height:55px;
    position: fixed;
}
