<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head th:replace="~{fragments/general :: baseHeader(~{:: title})}">
    <title>Edit a recipe</title>

</head>
<body>
<div th:replace="~{fragments/general :: logo}"></div>
<div th:replace="~{fragments/general :: navbar}"></div>
<div th:replace="~{fragments/general :: searchbar}"></div>

<div class="container">

    <h1>Edit a recipe</h1>

    <h3>Ingredients</h3>
    <table class="table" id="ingredientTable">
        <thead class="thead-light">
        <tr>
            <th scope="col"><label for="ingredientsField">Ingredients:</label></th>
            <th scope="col"><label for="ingredientAmountField">Amount: <span id="selectedUnitValue"></span></label></th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="recipeIngredient : ${recipe.ingredients}">
            <td th:text="${recipeIngredient.ingredient.name}"></td>
            <td th:text="${recipeIngredient.amount + '    ' + recipeIngredient.ingredient.unit.value}"></td>
            <td>
                <form th:action="@{'/recipeIngredient/delete/{id}'(id=${recipeIngredient.recipeIngredientId})}"
                      method="post" style="display: inline;">
                    <input type="hidden" name="_method" value="DELETE" />
                    <button type="submit" class="btn btn-outline-secondary btn-sm">remove</button>
                </form>
            </td>
        </tr>
        <tr>
            <td >
                <select class="form-control" id="ingredientsField" onchange="updateUnitValue()">
                    <option th:each="ingredient : ${allIngredients}" th:value="${ingredient.ingredientId}"
                            th:data-unit-value="${ingredient.unit.value}"
                            th:text="${ingredient.name + ' ' + ingredient.unit.value}"></option>
                </select>
            </td>
            <td><input class="form-control" type="text" id="ingredientAmountField"></td>
            <td>
                <button type="button" onclick="addIngredient()" class="btn btn-secondary btn-sm">Add Ingredient</button>
            </td>
        </tr>
        </tbody>
    </table>

    <div id="addedIngredients"></div>

    <table>
        <tr>
            <td>
                <form th:action="@{'/recipe/add/' + ${recipe.recipeId}}" method="post" id="addIngredientForm">
                    <input type="hidden" id="ingredientIdField" name="ingredientId" />
                    <input type="hidden" id="amountField" name="amount" />
                </form>
            </td>
        </tr>
    </table>



    <form th:action="@{'/recipe/' + ${recipe.recipeId} + '/edit'}" method="post" th:object="${recipe}">
        <input type="hidden" th:field="*{recipeId}">
        <input type="hidden" id="removedIngredients" name="removedIngredients" />

        <h3>Directions</h3>
        <p>Click on "Next step" to add step-by-step directions to your recipe</p>
        <table id="stepsTable">
            <thead class="thead-light">
                <tr>
                    <th scope="col">
                        <label for="recipeStepInput">Steps:</label>
                    <th/>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="step, index : *{recipeSteps}">
                    <td>
                        <input type="text" id="recipeStepInput" class="form-control"
                           th:field="*{recipeSteps[__${index.index}__]}" size="100"/>
                    </td>
                    <td>
                        <button type="button" onclick="removeRow(this)" class="btn btn-secondary btn-sm">Remove</button>
                    </td>
                </tr>
            </tbody>
        </table>

        <button type="button" onclick="addStep()" class="btn btn-secondary btn-sm">Next step</button>

        <table class="table">
            <thead class="thead-light">
            <tr>
                <th scope="col"><label for="nameField">Add a name:</label></th>
                <th scope="col"><label for="servingsField">Number of servings:</label></th>
                <th scope="col"><label for="preparationTimeField">Preparation Time</label></th>
                <th scope="col"><label for="TagField">Tags:</label></th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td><input type="text" id="nameField" class="form-control" th:field="*{name}" /></td>
                <td><input type="text" id="servingsField" class="form-control" th:field="*{numberOfServings}" /></td>
                <td>
                    <select id="preparationTimeField" class="form-control" th:field="*{preparationTime}">
                        <option value="15 min">15 min</option>
                        <option value="30 min">30 min</option>
                        <option value="60 min">60 min</option>
                        <option value="1 uur 30 min">1 uur 30 min</option>
                        <option value="1 uur 30 min+">1 uur 30 min+</option>
                    </select>
                </td>
                <td>
                    <select id="TagField" class="form-control" th:field="*{tags}" multiple>
                        <option th:each="tag : ${allTags}" th:value="${tag.tagId}" th:text="${tag.nameTag}"></option>
                    </select>
                </td>
            </tr>
            </tbody>
        </table>

        <div>
            <button type="submit" id="submitButton" class="btn btn-secondary btn-lg btn-block">Save recipe</button>
        </div>

    </form>

    <script>
        function addIngredient() {
            let ingredientId = document.getElementById("ingredientsField").value;
            let amount = document.getElementById("ingredientAmountField").value;

            document.getElementById("ingredientIdField").value = ingredientId;

            document.getElementById("amountField").value = amount;

            document.getElementById("addIngredientForm").submit();
        }
    </script>

    <script>
        function addStep() {
            let stepsTable = document.getElementById('stepsTable');

            let index = 0;
            if (stepsTable.rows.length > 1) {
                let lastRowIndex = stepsTable.rows.length - 1;
                let lastRow = stepsTable.rows[lastRowIndex];
                let lastInput = lastRow.cells[0].querySelector('input[type="text"]');
                let lastIndex = parseInt(lastInput.name.match(/\d+/)[0]);
                index = lastIndex + 1;
            }

            let newRow = stepsTable.insertRow(-1);
            let cell1 = newRow.insertCell(0);
            let cell2 = newRow.insertCell(1);

            let newInput = document.createElement('input');
            newInput.setAttribute('type', 'text');
            newInput.setAttribute('name', 'recipeSteps[' + index + ']');
            newInput.classList.add('form-control');
            newInput.setAttribute('size', '100');
            cell1.appendChild(newInput);

            let removeButton = document.createElement('button');
            removeButton.setAttribute('type', 'button');
            removeButton.className = "btn btn-secondary btn-sm";
            removeButton.textContent = 'Remove';
            removeButton.onclick = function() {
                stepsTable.deleteRow(newRow.rowIndex);
            };
            cell2.appendChild(removeButton);
        }

        function removeRow(button) {
            let row = button.parentNode.parentNode;
            let index = row.rowIndex - 1;
            let stepsTable = document.getElementById('stepsTable');
            let inputs = stepsTable.querySelectorAll('input[type="text"]');
            row.parentNode.removeChild(row);
            inputs.forEach(function(input) {
                let currentIndex = parseInt(input.name.match(/\d+/)[0]);
                if (currentIndex > index) {
                    input.setAttribute('name', input.getAttribute('name').replace(/\[\d+]/,
                        '[' + (currentIndex - 1) + ']'));
                }
            });
        }
    </script>

    <script>
        function updateUnitValue() {
            let selectElement = document.getElementById("ingredientsField");
            let selectedIndex = selectElement.selectedIndex;
            let selectedOption = selectElement.options[selectedIndex];
            document.getElementById("selectedUnitValue").textContent = selectedOption.getAttribute("data-unit-value");
        }
        updateUnitValue();
    </script>



</div>

<div th:replace="~{fragments/general :: footer}"></div>
<div th:replace="~{fragments/general :: bottomScripts}"></div>

</body>
</html>