<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head th:replace="~{fragments/general :: baseHeader(~{:: title})}">
    <title>Overview of all ingredients</title>
</head>
<body>

<div th:replace="~{fragments/general :: navbar}"></div>

<div class="container">

    <h1>Overview of all ingredients</h1>

    <table>
        <tr>
            <th>Name</th>
            <th>Unit</th>


        </tr>
        <tr th:each="ingredient : ${allIngredients}">
            <td th:text="${ingredient.name}"></td>
            <td th:text="${ingredient.unit}"></td>
        </tr>
        <form th:action="@{/ingredient/new}" method="post" th:object="${newIngredient}">
            <tr>
                <td><input type="text" th:field="*{name}"></td>
                <td>
                    <select id="measurementUnitField" th:field="*{unit}">
                        <option th:each="unit : ${unit} "
                                th:value="${unit}"
                                th:text="${unit}">
                        </option>
                    </select>
                </td>
            </tr>
            <tr>
                <td colspan="2"><input type="submit" value="Save new ingredient"></td>
            </tr>
        </form>
    </table>
    <p>
        <a th:href="@{/recipe/new}">Add a new recipe</a>
    </p>

</div>

<div th:replace="~{fragments/general :: footer}"></div>
<div th:replace="~{fragments/general :: bottomScripts}"></div>

</body>
</html>
