<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head th:replace="~{fragments/general :: baseHeader(~{:: title})}">
    <title>All ingredients</title>
</head>
<body>
<div th:replace="~{fragments/general :: logo}"></div>
<div th:replace="~{fragments/general :: navbar}"></div>

<div class="container">

        <h1>Overview of all ingredients</h1>
    <div class="table-container">
        <table class="table">
            <tr>
                <th>Name</th>
                <th>Unit</th>
                <th>Protein</th>
                <th>Carbohydrates</th>
                <th>Fat</th>
                <th>kcal</th>
            </tr>
            <tr th:each="ingredient : ${allIngredients}">
                <td th:text="${ingredient.name}"></td>
                <td th:text="${ingredient.unit}"></td>
                <td th:text="${ingredient.protein}"></td>
                <td th:text="${ingredient.carbohydrates}"></td>
                <td th:text="${ingredient.fat}"></td>
                <td th:text="${ingredient.calculateCalories()}"></td>
                <td><a th:href="@{/ingredient/edit/{ingredientName}(ingredientName = ${ingredient.name})}">
                    Edit ingredient</a> </td>
            </tr>
            <form th:action="@{/ingredient/new}" method="post" th:object="${newIngredient}">
                <tr>
                    <td><input type="text" th:field="*{name}"></td>
                    <td>
                        <select id="measurementUnitField" th:field="*{unit}">
                            <option th:each="unit : ${unit} "
                                    th:value="${unit}"
                                    th:text="${unit}">
                            </option>
                        </select>
                    </td>
                    <td><input type="text" th:field="*{protein}"></td>
                    <td><input type="text" th:field="*{carbohydrates}"></td>
                    <td><input type="text" th:field="*{fat}"></td>
                </tr>
                <tr>
                    <td colspan="2"><input type="submit" value="Save ingredient"></td>
                </tr>
            </form>
        </table>
    </div>

</div>

<div th:replace="~{fragments/general :: footer}"></div>
<div th:replace="~{fragments/general :: bottomScripts}"></div>

</body>
</html>
