<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head th:replace="~{fragments/general :: baseHeader(~{:: title})}">
  <title>Please Log In</title>
</head>
<body>
<div th:replace="~{fragments/general :: logo}"></div>
<div th:replace="~{fragments/general :: navbar}"></div>

<div class="container">


  <h1>Please Log In</h1>
  <div th:if="${param.error}">
    Invalid username and password.</div>
  <div th:if="${param.logout}">
    You have been logged out.</div>
  <form th:action="@{/login}" method="post">
    <div>
      <input type="text" name="username" placeholder="Username"/>
    </div>
    <div>
      <input type="password" name="password" placeholder="Password"/>
    </div>
    <input type="submit" value="Log in" />
  </form>

</div>

<div th:replace="~{fragments/general :: footer}"></div>
<div th:replace="~{fragments/general :: bottomScripts}"></div>

</body>
</html>