<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create a new recipe</title>
</head>
<body>

<h1>Create a new recipe</h1>

<form th:action="@{/recipe/new}" method="post" th:object="${recipe}">
    <table>
        <tr>
            <td><label for="nameField">Name</label></td>
            <td><label for="ingredientsField">Ingredients:</label></td>
            <td><label for="preperationField">Preperation</label></td>
            <td><label for="preperationTimeField">Preperation Time:</label></td>




        </tr>
        <tr>
            <td>
                <input type="text" id="nameField" th:field="*{name}" />
            </td>
            <td><input type="text" id="ingredientsField" th:field="*{ingredients}" /></td>
            <td>
                <input type="text" id="preperationField" th:field="*{preparation}" />
            </td>

            <td>
                <select id="preperationTimeField" th:field="*{preparationTime}" />
                    <option value="15 min">15 min</option>
                    <option value="30 min">30 min</option>
                    <option value="45 min">45 min</option>
                    <option value="60 min">60 min</option>
                    <option value="75 min">75 min</option>
                    <option value="90 min">90 min</option>
                    <option value="90+ min">90+ min</option>
                </select>
            </td>
        </tr>
    </table>

    <input type="submit" value="Save recipe" />
</form>
</body>
</html>