<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head th:replace="~{fragments/general :: baseHeader(~{:: title})}">
    <title>Create a new recipe</title>
</head>
<body>

<div th:replace="~{fragments/general :: navbar}"></div>

<div class="container">

    <h1>Create a new recipe</h1>

    <form th:action="@{/recipe/new}" method="post" th:object="${recipe}">
        <input type="hidden" th:field="*{recipeId}">
        <table>
            <tr>
                <td><label for="nameField">Name</label></td>
                <td><label for="ingredientsField">Ingredients:</label></td>
                <td><label for="preparationField">Preperation</label></td>
                <td><label for="preparationTimeField">Preperation Time:</label></td>
                <td><label for="TagField">Tags:</label></td>



            </tr>
            <tr>
                <td>
                    <input type="text" id="nameField" th:field="*{name}" />
                </td>
                <td>
                    <select id="ingredientsField" th:field="*{ingredients}" multiple>
                        <option th:each="ingredient : ${allIngredients}"
                                th:text="${ingredient.name}"
                                th:value="${ingredient.ingredientId}">
                        </option>
                    </select>
                </td>
                <td>

                    <textarea type="text" id="preparationField" rows="5" cols="50" th:field="*{preparation}"></textarea>

                </td>

                <td>
                    <select id="preparationTimeField" th:field="*{preparationTime}" />
                    <option value="15 min">15 min</option>
                    <option value="30 min">30 min</option>
                    <option value="45 min">45 min</option>
                    <option value="60 min">60 min</option>
                    <option value="75 min">75 min</option>
                    <option value="90 min">90 min</option>
                    <option value="90+ min">90+ min</option>
                    </select>
                </td>
                <td>
                    <select id="TagField" th:field="*{tags}" multiple>
                        <option th:each="tag : ${allTags}"
                                th:text="${tag.nameTag}"
                                th:value="${tag.tagId}">
                        </option>
                    </select>
                </td>
            </tr>
        </table>

        <input type="submit" value="Save recipe" />
    </form>
</div>

<div th:replace="~{fragments/general :: footer}"></div>
<div th:replace="~{fragments/general :: bottomScripts}"></div>

</body>
</html>
