<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head th:replace="~{fragments/general :: baseHeader(~{:: title})}">
    <title>Create or edit a recipe</title>
</head>
<body>

<div th:replace="~{fragments/general :: navbar}"></div>

<div class="container">

    <h1>Create or edit a recipe</h1>

    <form th:action="@{/recipe/new}" method="post" th:object="${recipe}">
        <input type="hidden" th:field="*{recipeId}">
        <table>
            <tr>
                <td><label for="nameField">Add a name:</label></td>
                <td><label for="servingsField">Number of servings:</label></td>
                <td><label for="ingredientsField">Ingredients:</label></td>
                <td><label for="ingredientAmountField">Amount:</label></td>
                <td><label for="preparationTimeField">Preparation Time</label></td>
                <td><label for="TagField">Tags:</label></td>



            </tr>
            <tr>
                <td><input type="text" id="nameField" th:field="*{name}" /></td>
                <td><input type="text" id="servingsField" th:field="*{numberOfServings}" /></td>
                <td>
                    <select id="ingredientsField" onchange="updateIngredientAmountField()">
                        <option th:each="ingredient : ${allIngredients}" th:value="${ingredient.ingredientId}"
                                th:text="${ingredient.name + ' ' + ingredient.unit.value}"></option>
                    </select>
                </td>
                <td><input type="text" id="ingredientAmountField"></td>

                <td>
                    <select id="preparationTimeField" th:field="*{preparationTime}">
                        <option value="15 min">15 min</option>
                        <option value="30 min">30 min</option>
                        <option value="45 min">45 min</option>
                        <option value="60 min">60 min</option>
                        <option value="75 min">75 min</option>
                        <option value="90 min">90 min</option>
                        <option value="90+ min">90+ min</option>
                    </select>
                </td>
                <td>
                    <select id="TagField" th:field="*{tags}" multiple>
                        <option th:each="tag : ${allTags}" th:value="${tag.tagId}" th:text="${tag.nameTag}"></option>
                    </select>
                </td>
            </tr>
        </table>

        <button type="button" onclick="addIngredient()">Add Ingredient</button>

        <div id="addedIngredients"></div>

        <h2>Directions
        </h2>
        <p>Click on "Next step" to add step-by-step directions to your recipe</p>
        <table id="stepsTable">
            <td><label for="recipeStepInput">Steps:</label></td>
            <button type="button" onclick="addStep()">Next step</button>
            <tr th:each="step, index : *{recipeSteps}">
                <td><input type="text" id="recipeStepInput"
                           th:field="*{recipeSteps[__${index.index}__]}" size="100"/>
                </td>
            </tr>
        </table>
        <div>
                <button type="submit" id="submitButton" class="btn btn-secondary btn-lg btn-block">Save recipe</button>
        </div>
    </form>




    <script>
        function addIngredient() {
            var ingredientId = document.getElementById("ingredientsField").value;
            var ingredientName = document.getElementById("ingredientsField")
                .options[document.getElementById("ingredientsField").selectedIndex].text;
            var amount = document.getElementById("ingredientAmountField").value;
            var displayDiv = document.getElementById("addedIngredients");

            var p = document.createElement("p");
            p.textContent = ingredientName + ": " + amount;
            displayDiv.appendChild(p);

            var inputIngredientId = document.createElement("input");
            inputIngredientId.type = "hidden";
            inputIngredientId.name = "selectedIngredients";
            inputIngredientId.value = ingredientId;

            var inputAmount = document.createElement("input");
            inputAmount.type = "hidden";
            inputAmount.name = "ingredientAmounts";
            inputAmount.value = amount;

            displayDiv.appendChild(inputIngredientId);
            displayDiv.appendChild(inputAmount);
        }
    </script>



    <script th:inline="javascript">
        function addStep() {
            var stepsTable = document.getElementById('stepsTable');
            var newRow = stepsTable.insertRow(-1);
            var cell = newRow.insertCell(0);

            var newInput = document.createElement('input');
            newInput.setAttribute('type', 'text');
            newInput.setAttribute('name', 'recipeSteps');
            cell.appendChild(newInput);
        }
    </script>
</div>

<div th:replace="~{fragments/general :: footer}"></div>
<div th:replace="~{fragments/general :: bottomScripts}"></div>

</body>
</html>
