<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head th:replace="~{fragments/general :: baseHeader(~{:: title})}">
    <title th:text="|Details for: ${recipeToBeShown.name}|"></title>
</head>
<body>

<div th:replace="~{fragments/general :: navbar}"></div>

<div class="container">
    <h1><span th:text="${recipeToBeShown.name}"></span></h1>

    <p th:text="${recipeToBeShown.tags}">
    </p>

    <p>Total time: <span th:text="${recipeToBeShown.preparationTime}"></span>
    </p>
    <p>Servings: <span th:text="${recipeToBeShown.numberOfServings}"></span>
    </p>

    <table class>
        <tr>
            <th>Ingredients</th>
        </tr>
    <tr th:each="recipeIngredient : ${recipeToBeShown.getIngredients()}">
        <td th:text="${recipeIngredient.ingredient.name}"></td>
        <td th:text="${recipeIngredient.amount + ' ' + recipeIngredient.ingredient.unit.value}"></td>
    </tr>
    </table>


    <h2>Preparation:</h2>

    <ol id="recipeStepList" type="1">
        <li th:each="step : ${recipeToBeShown.recipeSteps}" th:text="${step}"></li>
    </ol>

    <div class="nutrition-container">
        <h1>Nutrition Details</h1>
        <div class="card">
            <div class="card-body">
                <h2>per Serving</h2>
                <p class="card-text">Calories: <span th:text="${recipeToBeShown.calculateRecipeCaloriesPerPortion()}"></span></p>
                <p class="card-text">Macros:</p>
                <ul class="list-group">
                    <li class="list-group-item">Protein: <span th:text="${recipeToBeShown.calculateRecipeProtein()}"></span></li>
                    <li class="list-group-item">Carbohydrates: <span th:text="${recipeToBeShown.calculateRecipeCarbs()}"></span></li>
                    <li class="list-group-item">Fat: <span th:text="${recipeToBeShown.calculateRecipeFat()}"></span></li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div th:replace="~{fragments/general :: footer}"></div>
<div th:replace="~{fragments/general :: bottomScripts}"></div>

</body>
</html>
