<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head th:replace="~{fragments/general :: baseHeader(~{:: title})}">
    <title th:text="|Details for: ${recipeToBeShown.name}|"></title>
</head>
<body>
<div th:replace="~{fragments/general :: logo}"></div>
<div th:replace="~{fragments/general :: navbar}"></div>
<div th:replace="~{fragments/general :: searchbar}"></div>

<div class="container">
    <div class="title-details-container">
        <h1 class="title-details"><span th:text="${recipeToBeShown.name}"></span></h1>
        <div class="top-details">
            <p>Total time: <span th:text="${recipeToBeShown.preparationTime}"></span></p>
            <p>Servings: <span th:text="${recipeToBeShown.numberOfServings}"></span></p>
        </div>
    </div>

    <tr>
        <td>
            <span th:each="tag : ${recipeToBeShown.tags}" class="tags" th:text="${tag.nameTag}"></span>
        </td>
    </tr>

    <div class="directions-ingredients-container">

        <div class="ingredient-container">
            <table class="ingredient-table">
                <tr>
                    <th>Ingredients</th>
                </tr>
            <tr th:each="recipeIngredient : ${recipeToBeShown.getIngredients()}">
                <td th:text="${recipeIngredient.amount + ' ' + recipeIngredient.ingredient.unit.value}"></td>
                <td th:text="${recipeIngredient.ingredient.name}"></td>
            </tr>
            </table>
        </div>

        <div class="directions-container">
            <div class="directions-wrapper">
                <h3>Directions</h3>
                <ol id="recipeStepList" type="1">
                    <li th:each="step : ${recipeToBeShown.recipeSteps}" th:text="${step}"></li>
                </ol>
            </div>
        </div>
    </div>

    <h3>Nutrition per serving</h3>
    <table class="table nutrition-table">
        <thead>
        <tr>
            <th>Calories <span th:text="${recipeToBeShown.calculateRecipeCaloriesPerPortion()}"></span> kcal</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>Fat</td>
            <td><span th:text="${recipeToBeShown.calculateRecipeFat()}"></span> g</td>
        </tr>
        <tr>
            <td>Carbohydrates</td>
            <td><span th:text="${recipeToBeShown.calculateRecipeCarbs()}"></span> g</td>
        </tr>
        <tr>
            <td>Protein</td>
            <td><span th:text="${recipeToBeShown.calculateRecipeFat()}"></span> g</td>
        </tr>
        </tbody>
    </table>

</div>

<div th:replace="~{fragments/general :: footer}"></div>
<div th:replace="~{fragments/general :: bottomScripts}"></div>

</body>
</html>
